* {
    margin: auto;
    padding: 0 auto;
}
.tabs{
    margin-right: 200px;
}

#privacyTitle {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.privacyTable {
    max-width: 1000px;
    text-align: center;
    margin-bottom: 30px;
}